<%= form_with(model: expedient, local: true) do |form| %>
  <% if expedient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expedient.errors.count, "error") %> prohibited this expedient from being saved:</h2>

      <ul>
      <% expedient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default form-white">
  <div class="panel-body form-white">
    <div class="page-header">
      <div class="label-panel" style="color: #a6a6a6">
        <h1><i class="fa fa-file-text-o"></i> Cadastro</h1>
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          
           <%= form.label "Data"%>

          <%= form.text_field :exp_date , :class => "form-control"%>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
         
          <%= form.label :destination_id %>

          <%= collection_select(:expedient, :destination_id, Destination.all, :id, :description,{include_blank: false}, {class: 'form-control mb-2'})%>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">

          <%= form.label :responsible_id %>
          <%= collection_select(:expedient, :responsible_id, Responsible.all, :id, :description, {prompt: 'Selecione um reponsável'}, {class: 'form-control mb-2'}) %>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          
         <%= form.label :exp_type_id %>
            <% form.text_field :exp_type_id %>
            <%= collection_select(:expedient, :exp_type_id, ExpType.all, :id, :description, {prompt: 'Selecione um tipo'}, {class: 'form-control mb-2'}) %>

        </div>
      </div>
   </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= form.label :topic %>
          <%= form.text_field :topic, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <%= form.label :spu %>
              <%= form.text_field :spu, :class => "form-control" %>
            </div>
          </div>
    </div>
         
    <div class="row justify-content-end">
            
              <%= form.submit "Cadastrar" , :class => "btn btn-primary btn-sm "  %>
           
    </div>

    <div class="col align-self-end">
      <%= form.submit "Cadastrar" , :class => "btn btn-primary btn-sm "  %>
    </div>

  </div>
</div>

<% end %>
