<p id="notice"><%= notice %></p>

<h1>Expedients</h1>

<table>
  <thead>
    <tr>
      <th>Exp date</th>
      <th>Topic</th>
      <th>Spu</th>
      <th>Exp type</th>
      <th>Destination</th>
      <th>Responsible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expedients.each do |expedient| %>
      <tr>
        <td><%= expedient.exp_date %></td>
        <td><%= expedient.topic %></td>
        <td><%= expedient.spu %></td>
        <td><%= expedient.exp_type_id %></td>
        <td><%= expedient.destination_id %></td>
        <td><%= expedient.responsible_id %></td>
        <td><%= link_to 'Show', expedient %></td>
        <td><%= link_to 'Edit', edit_expedient_path(expedient) %></td>
        <td><%= link_to 'Destroy', expedient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedient', new_expedient_path %>
